@import "./utils";

.backgroundHeading {
  color: $lgreen;
  font-size: 4rem;
  margin-top: 3rem;
  font-family: font;
  text-align: center;
}
.background {
  @include flexer();
  height: fit-content;
  padding: 2rem;
  margin-bottom: 4rem;
  .bg {
    background: #000000a8;
    color: white;
    width: 80%;
    font-size: large;
    font-family: font;
    height: fit-content;
    text-align: center;
    font-family: $fonts;
    font-size: 1.5rem;
    padding: 1rem;
    border: 3px solid $lgreen;
    box-shadow: 15px 15px $lgreen;
  }
}

@media screen and (max-width: 425px) {
  .backgroundHeading {
    font-size: 2.5rem;
  }
}
