@import "./utils";

.personal {
  width: 100%;
  height: 100%;
  font-family: font;
  padding-bottom: 3rem;
  overflow: hidden;
  h1 {
    color: $lgreen;
    font-size: 4rem;
    margin-top: 3rem;
  }
  @include flexer(column);
  .boxes {
    @include flexer(row, space-between);
    width: 80%;
    height: 100%;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;

    .box {
      padding: 1.5rem;
      border: 4px solid $lgreen;
      @include flexer(column);
      background-color: rgba(0, 0, 0, 0.781);
      width: 300px;
      color: rgb(255, 255, 255);
      box-shadow: 15px 15px $lgreen;
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .personal {
    height: fit-content;
    h1 {
      padding-top: -2rem;
    }
    .boxes {
      gap: 4rem;
      // margin-bottom: 4rem;
      @include flexer(column, space-between);
    }
  }
}

@media screen and (max-width: 425px) {
  .personal {
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    h1 {
      font-size: 2.5rem;
    }
    .boxes {
      .box {
        width: 65%;
      }
    }
  }
}
