@import "./utils";

.projects_body {
  height: fit-content;
  width: 100vw;
  background: rgba(0, 0, 0, 0.664);
  box-shadow: rgba(0, 0, 0, 0.932) 0px 22px 70px 4px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

  h1 {
    @include flexer();
    color: $lgreen;
    font-family: $libre;
    font-size: 3rem;
    gap: 1rem;
    span {
      color: white;
    }
  }
}

.allprojects {
  height: fit-content;
  width: 100%;
  @include flexer(column);

  .project {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    @include flexer(row, space-between);

    .img1 {
      width: 40vw;
      height: 40vh;
      border-radius: 10px;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: perspective(1000px) rotateY(25deg) skew(4deg);
      box-shadow: 3px 23px 30px rgba(255, 255, 255, 0.11);
      transition: all 0.7s ease;
      &:hover {
        transform: perspective(1200px) rotateY(-25deg);
      }
    }
  }
  .project2 {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    @include flexer(row-reverse, space-between);

    .img2 {
      width: 40vw;
      height: 40vh;
      border-radius: 10px;
      transform-origin: center;
      transform-style: preserve-3d;
      box-shadow: 3px 23px 30px rgba(255, 255, 255, 0.11);
      transform: perspective(1200px) rotateY(-25deg);
      transition: all 0.7s ease;
      &:hover {
        transform: perspective(1000px) rotateY(25deg) skew(4deg);
      }
    }
  }
}

.projectcontent {
  width: 40vw;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    color: $lgreen;
    width: fit-content;
    text-align: center;
    font-family: $fonts;
    font-size: 1.5rem;
    padding: 1rem;
    border: 3px solid $lgreen;
    box-shadow: 5px 5px $lgreen;
  }

  p {
    font-family: $roboto;
    font-size: 1rem;
    text-align: justify;
    color: white;
    text-align: start;
    font-size: 1.2rem;
    span {
      color: $lgreen;
      font-size: 1.5rem;
    }
  }

  button {
    font-family: $fonts;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: $lgreen;
    outline: none;
    border: none;
  }
}

@media screen and (max-width: 2560px) and (min-width: 1681px) {
  .projects_body {
    padding-top: 2rem;

    h1 {
      @include flexer();
      color: $lgreen;
      font-family: $fonts;
      font-size: 4rem;
    }
  }

  .projectcontent {
    h3 {
      font-size: 2.5rem;
    }

    p {
      color: white;
      text-align: start;
      font-size: 1.5rem;
      span {
        color: $lgreen;
        font-size: 1.5rem;
      }
    }

    button {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 1024px) {
  .projectcontent {
    h3 {
      font-size: 1.5rem;
    }

    p {
      color: white;
      text-align: start;
      font-size: 1rem;
      span {
        color: $lgreen;
        font-size: 1rem;
      }
    }

    button {
      font-size: 0.8rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .allprojects {
    .project {
      width: 90%;
      margin: 5rem 0;
      @include flexer(column, space-between);

      .img1 {
        width: 80vw;
      }
    }
    .project2 {
      width: 90%;
      @include flexer(column, space-between);

      .img2 {
        width: 80vw;
      }
    }
  }

  .projectcontent {
    width: 80vw;
    margin-top: 2rem;
    @include flexer(column);
    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
      span {
        font-size: 1.2rem;
      }
    }

    button {
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 425px) {
  .projects_body{
    h1{
      font-size: 2rem;
    }
  }
  .allprojects {
    .project {
      width: 90%;
      margin: 5rem 0;
      @include flexer(column, space-between);

      .img1 {
        width: 80vw;
        height: 25vh;
      }
    }
    .project2 {
      width: 90%;
      @include flexer(column, space-between);

      .img2 {
        width: 80vw;
        height: 25vh;
      }
    }
  }

  .projectcontent {
    width: 80vw;
    margin-top: 2rem;
    @include flexer(column);
    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
      span {
        font-size: 1.2rem;
      }
    }

    button {
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 375px) {
  .projectcontent {
    width: 90vw;
    margin-top: 2rem;
    @include flexer(column);
    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
      span {
        font-size: 1.2rem;
      }
    }

    button {
      font-size: .7rem;
    }
  }
}
